@font-face {
    font-family: 'Linotte';
    src: url('Linotte-Regular.eot');
    src: url('Linotte-Regular.eot?#iefix') format('embedded-opentype'),
        url('Linotte-Regular.woff2') format('woff2'),
        url('Linotte-Regular.woff') format('woff'),
        url('Linotte-Regular.ttf') format('truetype'),
        url('Linotte-Regular.svg#Linotte-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotte';
    src: url('Linotte-Semibold.eot');
    src: url('Linotte-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Linotte-Semibold.woff2') format('woff2'),
        url('Linotte-Semibold.woff') format('woff'),
        url('Linotte-Semibold.ttf') format('truetype'),
        url('Linotte-Semibold.svg#Linotte-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotte';
    src: url('Linotte-Heavy.eot');
    src: url('Linotte-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Linotte-Heavy.woff2') format('woff2'),
        url('Linotte-Heavy.woff') format('woff'),
        url('Linotte-Heavy.ttf') format('truetype'),
        url('Linotte-Heavy.svg#Linotte-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotte';
    src: url('Linotte-Bold.eot');
    src: url('Linotte-Bold.eot?#iefix') format('embedded-opentype'),
        url('Linotte-Bold.woff2') format('woff2'),
        url('Linotte-Bold.woff') format('woff'),
        url('Linotte-Bold.ttf') format('truetype'),
        url('Linotte-Bold.svg#Linotte-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

